<p>
  <div class="btn-group">
     <label class="btn btn-default btn-lg" ng-model="checkin.enjoying" btn-radio="'beer'">I'm drinking a beer</label>
     <label class="btn btn-default btn-lg" ng-model="checkin.enjoying" btn-radio="'song'">I'm listening to a song</label>
  </div>
</p>

<p>
  <input class="form-control input-lg" type="text" placeholder="Which one?" ng-model="checkin.query">
</p>

<p>
  <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="checkin.search()">
    Search
  </button>
</p>

<p ng-show="checkin.searching">
  <i class="fa fa-2x fa-spin fa-spinner"></i>
</p>

<p ng-if="checkin.error" class="alert alert-danger">
  {{ checkin.error }}
</p>

<div ng-switch="checkin.enjoying">
  <div ng-switch-when="beer" class="list-group">
    <a ng-repeat="beer in checkin.results" href="" class="list-group-item" ng-click="checkin.recommend(beer.id)">
      <div class="media">
        <div class="media-left">
          <img class="media-object" alt="" ng-src="{{ beer.labels.icon }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ beer.nameDisplay }}</h4>
          {{ beer.description }}
        </div>
      </div>
    </a>
  </div>
  <div ng-switch-when="song" class="list-group">
    <a ng-repeat="track in checkin.results.tracks.items" href="" class="list-group-item" ng-click="checkin.recommend(track.id)">
      <div class="media">
        <div class="media-left">
          <img class="media-object" alt="" ng-src="{{ track.album.images[2].url }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ track.name }}</h4>
          {{ track.artists[0].name }}
        </div>
      </div>
    </a>
  </div>
</div>
