<h3>{{ userCtrl.user.name }}</h3>

<p>
  <button type="button" ng-click="userCtrl.logout()" class="btn btn-primary">
    Logout
  </button>
</p>

<div ng-show="userCtrl.loading">
    <i class="fa fa-3x fa-spin fa-spinner text-primary"></i>
</div>

<p ng-hide="userCtrl.loading || userCtrl.transactions.length > 0" class="alert alert-info">
  You haven't matched any beers and beats...yet.
</p>

<div ng-show="!userCtrl.loading && userCtrl.transactions.length > 0">
    <h4>Recent Beer and Beat matches</h4>
    
    <div class="row" ng-repeat="transaction in userCtrl.transactions">
        <div class="col-sm-5">
            <div class="card text-center">
                <h3>
                    <span><i class="fa fa-fw fa-music"></i></span>
                </h3>
                <div class="center-block">
                    <img class="img-circle img-thumbnail" ng-src="{{ transaction.attributes.song.thumbnail }}">
                    <h4 class="text-center">{{  transaction.attributes.song.title }}</h4>
                    <h5 class="text-center">{{  transaction.attributes.song.artist }}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <h3>
                <span class="hidden-sm hidden-xs"><i class="fa fa-arrows-h fa-3x"></i></span>
                <span class="hidden-md hidden-lg"><i class="fa fa-arrows-v fa-3x"></i></span>
            </h3>
        </div>
        <div class="col-sm-5">
            <div class="card text-center">
                <h3>
                    <span><i class="fa fa-fw fa-beer"></i></span>
                </h3>
                <div class="center-block">
                    <img class="img-circle img-thumbnail" ng-src="{{  transaction.attributes.beer.thumbnail }}">
                    <h4>
                        {{ transaction.attributes.beer.title }}
                    </h4>
                    <h5>
                        <span>
                            <span>{{ transaction.attributes.beer.style }}</span>
                        </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
