<p ng-show="recommendCtrl.error" class="alert alert-danger">
  {{ recommandCtrl.error }}
</p>

<div ng-switch="recommendCtrl.type">
  <div ng-switch-when="song" class="list-group">
    <a ng-repeat="beer in recommendCtrl.results" href="" class="list-group-item" ng-click="recommendCtrl.recommend(beer.id)">
      <div class="media">
        <div class="media-left">
          <img class="media-object" alt="" ng-src="{{ beer.labels.icon }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ beer.nameDisplay }}</h4>
          {{ beer.description }}
        </div>
      </div>
    </a>
  </div>
  <div ng-switch-when="beer" class="list-group">
    <a ng-repeat="track in recommendCtrl.results.tracks.items" href="" class="list-group-item" ng-click="recommendCtrl.recommend(track.id)">
      <div class="media">
        <div class="media-left">
          <img class="media-object" alt="" ng-src="{{ track.album.images[2].url }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ track.name }}</h4>
          {{ track.artists[0].name }}
        </div>
      </div>
    </a>
  </div>
</div>
