
$font-size-base: 16px;
$color-bg: #c4d7df;
$color-light-gray: #e2e2e2;

$body-bg: $color-light-gray;
$brand-primary: #44B3C2;
$brand-warning: #E45641;

$navbar-default-bg: #fff;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../bower_components/font-awesome/scss/font-awesome';

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    color: $brand-warning;
}

#content {
    padding-bottom: 20px;
}


#header {
    background-color: $brand-primary;
    margin: 0;
    border: 0;
    border-radius: 0;

    h1 {
        font-size: 1.3em;
        font-weight: normal;
    }

    .navbar-brand {
        color: #fff;
        font-family: "Oswald", sans-serif;
        overflow: hidden;
        height: auto;
        padding-bottom: 9px;

        .fa-circle {
            color: $brand-warning;
        }
    }

    .navbar-toggle {
        border: 0;
        .icon-bar {
            background-color: #fff;
        }
        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
        }
    }

    .navbar-collapse {
        border: 0;
        box-shadow: none;
    }

    li > a {
      color: lighten($brand-primary, 35%);
    }

    li.active > a {
        background-color: darken($brand-primary, 10%);
    }

    li > a:focus,
    li > a:hover {
      color: lighten($brand-primary, 50%);
    }

    .nav > li > a.avatar {
      padding: 10px 15px;

      img {
        max-height:30px;
        width:auto;
        vertical-align:middle;
      }
    }

}

.checkin-results {
    .media-description {
        max-height: 66px;
        overflow: hidden;
    }
    .media-heading {
        margin-top: 5px;
    }
}

.panel {
    box-shadow: none;

    &.panel-default {
        border: 0;
        > .panel-heading {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;

            > .panel-title {
                color: $brand-primary;
                font-size: 20px;
            }
        }
        > .panel-body {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &.panel-spotify {
        background-color: transparent;
         > .panel-heading {
             text-align: center;
             border: 0;
             > .panel-title {}
         }
    }
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 37px rgba(0,0,0,0.15);
    margin: 0 auto 20px;
    padding: 20px;
    position: relative;

    .btn-link {
        padding: 0;
    }

    h3 {
      margin-top: 0;
    }

    h5 {
      margin: 0;
    }

    h4, h5 {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.btn-excellent {
  margin: 20px 0;
}

a.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:hover,
button.list-group-item:focus {

}
