
$font-size-base: 16px;
$color-bg: #c4d7df;
$color-light-gray: #e2e2e2;

$body-bg: $color-light-gray;
$brand-primary: #44B3C2;
$brand-warning: #E45641;

$navbar-default-bg: #fff;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../bower_components/font-awesome/scss/font-awesome';

body {
  background: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    color: $brand-warning;
}

#content {
  background-color: rgba(255, 255, 255, .3);
  padding-bottom: 20px;
}

nav {
  margin: 40px 0;
}

nav h1 {
  margin: 0;
  padding: 0;
}

nav h1 img {
  max-width: 100px;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

nav .fa-headphones {
  color: rgba(0, 0, 0, .5);
}

.avatar {
  display: block;
  padding: 7px;
}

.checkin-results {
    .media-description {
        max-height: 66px;
        overflow: hidden;
    }
    .media-heading {
        margin-top: 5px;
    }
}

.panel {
    box-shadow: none;

    &.panel-default {
        border: 0;
        > .panel-heading {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;

            > .panel-title {
                color: $brand-primary;
                font-size: 20px;
            }
        }
        > .panel-body {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &.panel-spotify {
        background-color: transparent;
         > .panel-heading {
             text-align: center;
             border: 0;
             > .panel-title {}
         }
    }
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 37px rgba(0,0,0,0.15);
    margin: 0 auto 20px;
    padding: 20px;
    position: relative;

    .btn-link {
        padding: 0;
    }

    h3 {
      margin-top: 0;
    }

    h5 {
      margin: 0;
    }

    h4, h5 {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.btn-excellent {
  margin: 20px 0;
}

.btn-logout {
  margin-top: 15px;
}

#check-in {
    padding-top: 50px;

    .btn-group {
        margin-bottom: 10px;
    }
}

#check-in-form {
    position: relative;
    z-index: 2;
}
